/* Account Page CSS */
/* Account */

.main-content {
    width: 50%;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content2 {
    width: 50%;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account {
    text-align: center;
    margin-top: 20px;
    width: 60%;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.account-header {
    width: 60%;
    min-width: 180px;
    border: 1px solid black;
    border-radius: 5px;
}

#transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

#transactionTable th,
#transactionTable td {
    border: 1px solid black;
    padding: 8px;
}

#transactionTable th {
    background-color: #e4e4e4;
}

#transactionHistory h2 {
    margin-bottom: 10px;
}

.detail {
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
}

#history {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    width: 40%;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    transition: background-color 0.1s ease;

}

.sign-out{
    background-color:#ff8f8f;
    transition: 1.5s;
}

.centered-div {
    width: 17vw; 
    margin-left: 75vw; 
    border: 1px solid #000000; 
    height:50vh;
}

#sp1{
    position:fixed;   
    transform:translate(0px,-0vh); 
    margin-left:6vw;
}

#cardNumber{
    width:250px;
}

#sp2{
    position:fixed;
    margin-left:75.2vw;
    transform:translate(0px,-0vh);
}

input {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 60%;
    font-size: 1.5em;
    transition: background-color 0.1s ease;
}

p{
    padding:5px;
    font-size: 20px;
}

.main-content p::first-letter {
    font-size:35px;
}

.transactionHistory{
    text-align: center;
    width: 60%;
    min-width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

input:hover,
button:hover,
#cancel:hover,
#tsubmit:hover,
#dsubmit:hover,
#history:hover {
    background-color: #e4e4e4;
}


input:active,
button:active,
#cancel:active,
#tsubmit:active,
#dsubmit:active,
#history:active {
    background-color: #ffffff;
}

.navbar{
    transition:1.5s;
}

.navbar:hover{
    font-size:22px;
}

.no-border {
    border: none;
    padding: 0;
}

.positive {
    color: rgb(4, 190, 4)
}

.negative {
    color: red;
}