/* CSS File used for index.html */

.mainlogo img {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 54%;
    margin-left: 23%;
    margin-right: 23%;
}

#continueButton{
    position: absolute;
    bottom: 10%;
    width: 40%;
    height: 10%;
    right: 30%;
    background-color: white;
    border: none;
}

#continueButton h1 {
    opacity: 25%;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 300%;
    transition-duration: .25s;
}

#continueButton h1:hover {
    transform: scale(1.1, 1.1);
}

.loginform {
    border: solid 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 40%;
    height: 86%;
    right: 30%;
    top: 7%;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.575);
}