/* Main CSS File, only use for default decoration of default elements like p, h1, li, etc.., specific styles will be in their own seperate file. */

:root { /* Use variables for colors so they're easier to re-use if needed*/

}

body {
    margin:.5%;
}

p { /* Default text for all p elements */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.2;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

input {
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    
}

.header-container h1 {
    margin-left: 20px; 
}

.sign {
    margin-right: 60px;
    text-decoration: none;
    color: black; 
    font-size: 1.5em;
    transition: .1s;
}

.sign:hover {
    color: rgba(0, 0, 0, 0.479);
}

.sign:active {
    color:black
}

/* Navbar */
.navbar {
    margin: auto;
    margin-top: 1%;
    width: 85%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    font-size: 1.5em;
    width: 25%; 
    padding: 5px;
    text-align: center;
    color: black; 
}

/* Main Content */
.main-content {
    margin: auto;
    margin-top: 1%;
    width: 85%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* Additional styling classes below (non-specific styles eg. box-shadow)*/
.box-shadow{
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.575);
}