/* Main CSS File, only use for default decoration of default elements like p, h1, li, etc.., specific styles will be in their own seperate file. */

:root { /* Use variables for colors so they're easier to re-use */

}

p { /* Default text for all p elements */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.2;
}

input {
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.3);
    
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
}
/* Main Content */
.main-content {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}