/* Support CSS */
/* CSS File used for index.html */
.grid-container{
    position:absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items:center;
    
}

.main-content {
    margin-top: 20vh;
    width: 40%;
}

.button-container {
    align-items: center;
    width: 100%;
    padding: 10px;
}

.login-form {
    align-items: center;
    width: 100%;
    padding: 10px;
}

.signup-form {
    align-items: center;
    width: 100%;
    padding: 10px;
}

.input-text {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5em;
}

.input-button, button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.5em;
    transition: background-color 0.1s ease;
}

input:hover, button:hover {
    background-color: #e4e4e4;
}

input:active, button:active {
    background-color: #ffffff;
}

.navbar{
    transition:1.5s;
}

.navbar:hover{
    font-size:22px;
}

.centered-div {
    width: 17vw; 
    margin-left: 75vw; 
    border: 1px solid #000000; 
    height:40vh;
}

#sp1{
    position:absolute;   
    transform:translate(0px,-73vh);
}

#sp2{
    position:absolute;
    transform:translate(-70vw,-73vh);
}

.Support{
    padding-bottom:30px;
}


textarea, #subject{
    border-radius:10px;
    width:350px;
}

#submit{
    border-radius:10px;
}

p{
    padding:5px;
    font-size: 20px;
}

.main-content p::first-letter {
    font-size:35px;
}

.sign-out{
    transition: 1.5s;
    background-color:#ff8f8f;
}
